<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="./login/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <title>Login</title>

</head>

<body>
    <div id="logreg-forms">
        <!-- <a href="javascript: window.history.back()">
            <i class="fa fa-times float-right mr-2" style="color:black;" aria-hidden="true"></i>
        </a> -->
        <form action="/account/login" id="login-form" class="form-signin" method="POST" autocomplete="off">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Đăng nhập</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"
                    onclick="window.location='/account/login/facebook';"><span><i class="fab fa-facebook-f"></i> Đăng
                        nhập với
                        Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"
                    onclick="window.location='/account/login/google';"><span><i class="fab fa-google-plus-g"></i> Đăng
                        nhập với
                        Google+</span> </button>
            </div>
            <p style="text-align:center"> Hoặc </p>
            <input type="text" name="username" id="username" class="form-control" placeholder="Tên tài khoản"
                required="" oninvalid="this.setCustomValidity('Bạn chưa nhập Tên tài khoản!')">
            <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required=""
                oninvalid="this.setCustomValidity('Bạn chưa nhập Mật khẩu!')">

            <div id="err_login" class="alert alert-danger mt-1" style="display:none "></div>
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Đăng
                nhập</button>
            {{!-- <a href="/account/forgot-password" id="forgot_pswd">Quên mật khẩu?</a> --}}
            <a href="/account/forgot-password">Quên mật khẩu?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i>
                Đăng ký tài khoản mới</button>
            <a href="/" ><i class="fas fa-angle-left"></i> Trang chủ</a>
        </form>

        <form action="account/resetpassword/" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required=""
                autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>

        <form action="/account/register" id="signup-form" class="form-signup" method="POST">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"
                    onclick="window.location='/account/login/facebook';"><span><i class="fab fa-facebook-f"></i> Đăng ký
                        với
                        Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"
                    onclick="window.location='/account/login/google';"><span><i class="fab fa-google-plus-g"></i> Đăng
                        ký với
                        Google+</span> </button>
            </div>

            <p style="text-align:center">Hoặc</p>

            <input type="text" id="username_signup" name="username" class="form-control" placeholder="Tên tài khoản"
                required="" autofocus="">
            <input type="text" name="name" class="form-control" placeholder="Tên của bạn" required autofocus="">
            <input type="password" id="password_signup" name="password" class="form-control" placeholder="Mật khẩu"
                required autofocus="">
            <input type="password" id="repeatpass" name="repeatpass" class="form-control"
                placeholder="Nhập lại mật khẩu" required autofocus="">
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus="">
            <input type="text" id="txtDOB" name="dob" class="form-control" placeholder="Ngày sinh" required
                autofocus="">
            <p id="passNotification" style="display: none;">Mật khẩu không khớp</p>
            <div id="err_signup" class="alert alert-danger mt-1" style="display:none "></div>
            <button class="btn btn-primary btn-block" type="submit" id="btnSignup"><i class="fas fa-user-plus"></i> Đăng
                ký</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Trở lại</a>
        </form>
        <br>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="./login/script.js"></script>
    <script>
        $('#txtDOB').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true
        });
    </script>
</body>

</html>