<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/account/login/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    {{!-- <script src="/account/login/script.js"></script> --}}
    <script>

      function validateForm() {
        const  password = document.forms["myForm"]["password"].value;
        const  password2 = document.forms["myForm"]["password2"].value;
        if (password != password2) {
          alert("Mật khẩu xác nhận không đúng!");
          return false;
        }
        else{
           alert("Đổi mật khẩu thành công!");
           return true;
        }
      }
    </script>

</head>

<body>
 {{!--   
<p>
    <input type="password" name="NPassword" placeholder="New Password" id="txtNewPassword" />
</p>
<input type="password" name="RNPassword" placeholder="Retype New Password" id="txtConfirmPassword" onChange="isPasswordMatch();" />
<div id="divCheckPassword"></div> --}}

  <div id = "logreg-forms">
    <form action=""  name="myForm" id="signup-form" onsubmit="return validateForm()" method="post" >
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">  Reset password</h1>
      <input class = "form-control"  type="password" name = "password" id = "password" placeholder = "New Password"
      required autofocus="">
      <input class = "form-control"  type="password" name = "password2" id = "password2" placeholder = "Confirm Password"
       required autofocus="">
      {{!-- test --}}
      <div id="divCheckPassword"></div>

      {{!-- <p id="passNotification" style="display: none;">Mật khẩu không khớp</p> --}}
      {{!-- <div id="err_signup" class="alert alert-danger mt-1" style="display:none "></div> --}}
      <br>
      <button class="btn btn-primary btn-block" type="submit" id="btnSignup"  value="reset password">
        <i class="fa fa-key" aria-hidden="true"></i> Reset Password</button>
    </form>
  </div>
   

</body>

</html>


{{!-- 
<h1>
  Reset password
</h1>

<form action="" method="post">
  <label for="password">Password</label>
  <input type="password" name = "password" id = "password">

  <label for="password2">Confirm Password</label>
  <input type="password" name = "password2" id = "password2">
  <br>
  <input type="submit" value="reset password">

</form> --}}