<div class="card">
  <h4 class="card-header">
    {{this.post.CatID}}
  </h4>
  <div class="card-body">
    <h5 class="card-title">{{this.post.PostName}}</h5>
    <p class="card-text">
      {{{this.post.FullContent}}}
    </p>
  </div>
</div>