<div class="card">
  <h4 class="card-header">
    New Tag
  </h4>
  <div class="card-body">
    <form method="POST" action="/administrator/tags/add">
      <div class="form-group">
        <label for="txtTagName">Tag</label>
        <input type="text" class="form-control" id="txtTagName" name="txtTagName" autofocus>
      </div>
      <a class="btn btn-primary" href="/administrator/Tags" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>