{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#txtContent',
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>
{{/section}}

<div class="card">
  <h4 class="card-header">
    WYSIWYG Editor
  </h4>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtContent">Content</label>
        <textarea id="txtContent" name="content" rows="20" autofocus></textarea>
      </div>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>