{{#section 'js'}}
<script>
function product(postPremium) {
  alert(postPremium)
}
</script>
{{/section}}
<div class="card">
  <h4 class="card-header">
    Categories
  </h4>
  
  <div class="card-body">
    <form method="POST">
       <div class="form-group">
        <label for="txtCatID">#CatLv1</label>
        <input type="text" readonly class="form-control" id="txtCatID" name="CatIDLv1" value="{{catLv1.CatIDLv1}}">
      </div>
      <div class="form-group">
        <label for="txtCatID">#CatLv2</label>
        <input type="text" readonly class="form-control" id="txtCatID" name="CatIDLv2" value="{{this.category.CatIDLv2}}">
      </div>
      <div class="form-group">
        <label for="txtCatName">Category</label>
        <input type="text" class="form-control" id="txtCatName" name="CatNameLv2" autofocus
          value="{{this.category.CatNameLv2}}">
      </div>
      <a class="btn btn-primary" href="/admin/categories/indexLv2" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="submit" class="btn btn-danger" formaction="/admin/categories/delCatLv2">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-success" formaction="/admin/categories/patchCatLv2">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>