{{#section 'js'}}
<script>
function checkBeforeDelCatLv1(countCatLv2) {
  if(countCatLv2>0){
    alert("Bạn phải xóa hết Catelories Level 2 trước khi xóa nó!!!");
    return false;
  }
  return true;
}
</script>
{{/section}}

<div class="card">
  <h4 class="card-header">
    Category
  </h4>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input type="text" readonly class="form-control" id="txtCatID" name="CatIDLv1" value="{{this.category.CatIDLv1}}">
      </div>
      <div class="form-group">
        <label for="txtCatName">Category</label>
        <input type="text" class="form-control" id="txtCatName" name="CatNameLv1" autofocus
          value="{{this.category.CatNameLv1}}">
      </div>
      <button type="submit" class="btn btn-danger" onclick="return checkBeforeDelCatLv1({{countCatLv2}})" formaction="/admin/categories/delCatLv1">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-success" formaction="/admin/categories/patchCatLv1">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>